<main class="desktop">
    <h2>Ajout d'un nouvel administrateur</h2>
    <div class="admin add-admin">
      <% if(emailError){ %>
        <p class="decline">L'adresse mail doit etre au format : _______@______.___</p>
      <% } %>
      <% if(passwordError){ %>
        <p class="decline">Le mot de passe  doit contenir une majuscule, 1 chiffre, 1 caractère spéciale et au moins 8 caractères.</p>
      <% } %>
      <% if(sizeError){ %>
        <p class="decline">L'image ne doit pas dépasser 5MO.</p>
      <% } %>
      <% if(typeError){ %>
        <p class="decline">L'image doit etre au format JPG, JPEG ou PNG.</p>
      <% } %>
      
    <form action="/addnewadmin" method="post" class="form" enctype="multipart/form-data">
      <div class="sub-form">
        <input class="field email" type="email" id="email" name="email" placeholder="Email">
        <input class="field name" type="name" id="name" name="name" placeholder="Prenom">
      </div>
        <fieldset class="field">
          <legend>Photo de profil</legend>
        <input class="field picture" type="file" id="myfile" name="myfile">
        </fieldset>
        <textarea class="field text" name="text" id="text" placeholder="Un texte de description"></textarea>
        <fieldset class="field role">
            <legend>Selectionner si le role de l'administrateur est principal ou secondaire</legend>
            <div>
                <input type="radio" id="role" name="role" value="main" checked>
                <label for="main">Principal</label>
            </div>
            <div>
                <input type="radio" id="role" name="role" value="second">
                <label for="second">Secondaire</label>
            </div>
        </fieldset>
        <div class="sub-form">
          <input class="field password" type="password" id="password" name="password" placeholder="Nouveau mot de passe">
          <input class="button" type="submit" value="Ajout">
      </div>
    </form>
  </div>
    <h2>Modification d'un administrateur</h2>
    <table class="tab-admin js-post-table-admin">
      
      <tbody>
        <% for(let i = 0; i < admin.length; i++) { %>
          <tr data-id="<%=admin[i].id%>">
            <form action="/updateadmin" method="post" enctype="multipart/form-data">
              <td class="image-container">
                <img src="<%=admin[i].picture%>">
                <label class="file-label" for="adminPicture<%= i %>">
                  <i class="fas fa-download"></i>
                </label>
                <input class="file-input" type="file" id="adminPicture<%= i %>" name="adminPicture<%= i %>">
              </td>
              <input type="hidden" id="adminId" name="adminId" value="<%= admin[i].id %>">
              <td>
                <textarea class="field text" id="adminText" name="adminText"><%=admin[i].text%></textarea>
              </td>
              <td>
                <input class="button" type="submit" value="Modifier">
              </td>
            </form>
            <td>
              <button data-id="<%=admin[i].id%>" class="delete field"><i class="fa-solid fa-trash-can"></i></button>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    
</main>