
<main class="desktop">
  
  <section class="admin" id="index">
    <h2>Page d'accueil</h3>
      <h3>Modification des photos du carrousel</h4>
        <div class="carrousel-admin">
          <form action="/addcarrouselpicture" method="post" class="form" enctype="multipart/form-data">
            <% for (let i=0; i < carrousel.length; i++) { %>
              <div class="image-container">
                <img src="<%=carrousel[i].img%>">
                <label class="file-label" for="carrousel<%= i %>">
                  <i class="fas fa-download"> - <%= i+1 %></i>
                </label>
                <input class="file-input" type="file" id="carrousel<%= i %>" name="carrousel<%= i %>">
              </div>
              <% } %>
                <input class="button" type="submit" value="Modifier">
        </div>
        </form>

        <div class="index-text">
          <h3>Modification du texte d'accueil</h4>
            <form action="/updateindextext" method="post" class="form">
              <textarea class="field text" id="indexText" name="indexText"
><%=info[0].index_text%></textarea>
              <input class="button" type="submit" value="Modifier">
            </form>
        </div>

        <h3>Modification de la section des marques</h4>
          <div class="add-brand">
            <h4>Ajout d'une marque</h5>
              <form action="/addbrand" method="post" class="form" enctype="multipart/form-data">
                <input class="field" type="text" id="title" name="title" placeholder="Nom de la marque">
                <fieldset class="field">
                  <legend>Logo de la marque</legend>
                  <input class="field picture" type="file" id="newbrand" name="newbrand">
                </fieldset>
                <textarea class="field text" id="brandText" name="brandText" rows="8" cols="10"
                  placeholder="Description de la marque"></textarea>
                <input class="button admin-button" type="submit" value="Ajouter">
              </form>
          </div>
          <div>
            <h4>Suppression d'une marque</h4>
            <table class="tab js-post-table-brand">
              <thead>
                <th>Titre</th>
                <th>img</th>
                <th>Texte</th>
                <th></th>
              </thead>
              <tbody>
                <% for(let i=0; i < brands.length; i++) { %>
                  <tr data-id="<%=brands[i].id%>">
                    <td>
                      <%=brands[i].title%>
                    </td>
                    <td><img src="<%= brands[i].img %>" alt="<%= brands[i].title %>"></td>
                    <td>
                      <%=brands[i].text.substring(0, 30)%> ...
                    </td>
                    <td><i class="fa-solid fa-trash-can"></i></td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
  </section>
  <section class="admin" id="serve">
    <h2>Services et tarifs</h2>
    <h3>Ajout d'une catégorie </h3>
    <div class="add-category">
      <form action="/addcategory" method="post" class="form">
        <div class="sub-form">
          <input class="field" type="text" id="categorie" name="categorie" placeholder="Nouvelle catégorie">
          <select class="field" name="categoryOrder" id="categoryOrder">
            <% for(let i=1; i <=10; i++) { %>
              <option value="<%=[i]%>">Ordre : <%=[i]%>
              </option>
              <% } %>
          </select>
        </div>
        <input class="button admin-button" type="submit" value="Ajouter">
      </form>
    </div>
    <div>
      <h3>Ajout d'une prestation</h3>
      <div class="add-benefit">
        <form action="/addbenefit" method="post" class="form">
          <div class="sub-form">
            <select class="field" name="category" id="category">
              <% for(let i=0; i < category.length; i++) { %>
                <option value="<%=category[i].id%>">
                  <%=category[i].title%>
                </option>
                <% } %>
            </select>
            <input class="field" type="text" id="prestation" name="prestation" placeholder="Nouvelle prestation">
          </div>
          <div class="sub-form">
            <input class="field" type="text" id="price" name="price" placeholder="Prix">
            <select class="field" name="benefitOrder" id="benefitOrder">
              <% for(let i=1; i <=10; i++) { %>
                <option value="<%=[i]%>">ordre : <%=[i]%>
                </option>
                <% } %>
            </select>
          </div>
          <input class="button admin-button" type="submit" value="Ajouter">
        </form>
      </div>

    </div>
    <h3>Modification d'une catégorie ou d'une prestation</h3>
    <% for (let i = 0; i < category.length; i++) { %>
      <fieldset class="field fieldset js-category" data-id="<%= category[i].id %>">
        
        <legend><%= category[i].title %></legend>
        <button data-id="<%= category[i].id %>" class="delete"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
        <form action="/updatecategory" method="post">
          <input type="hidden" id="categoryId" name="categoryId" value="<%= category[i].id %>">
          <input class="field" type="text" id="updateCategory" name="updateCategory" value="<%= category[i].title %>">
          <label for="updateBenefitOrder">Ordre : <%= category[i].pos %>
            <% if (category[i].pos == 1) { %><sup>er</sup><% } else { %><sup>ème</sup><% } %>
          </label>
          <select class="field" name="updateCategoryOrder" id="updateCategoryOrder">
            <% for (let j = 1; j <= 10; j++) { %>
              <option value="<%= j %>">
                <%= j %>
              </option>
            <% } %>
          </select>
          <input class="button" type="submit" value="Modifier">
        </form>
        
        <fieldset class="field update-benefit js-benefit">
          <legend>Prestations</legend>
          
            <table class="tab-benefit">
              <tbody>
                <% for (let j = 0; j < benefit.length; j++) { %>
                  <% if (benefit[j].category_id === category[i].id) { %>
                    <form action="/updatebenefit" method="post" class="form">
                    <tr data-id="<%= benefit[j].id %>">
                      <td class="tab-main">
                        <input type="hidden" id="benefitId" name="benefitId" value="<%= benefit[j].id %>">
                        <input class="field" type="text" id="updateBenefitTitle" name="updateBenefitTitle" value="<%= benefit[j].title %>">
                      </td>
                      <td class="tab-third">
                        <input class="field" type="text" id="updateBenefitPrice" name="updateBenefitPrice" value="<%= benefit[j].price %>">
                      </td>
                      <td class="tab-second">
                        <label for="updateBenefitOrder">Ordre : <%= benefit[j].pos %>
                          <% if (benefit[j].pos == 1) { %><sup>er</sup>
                          <% } else { %><sup>ème</sup>
                          <% } %>
                        </label>
                        <select class="field" name="updateBenefitOrder" id="updateBenefitOrder">
                          <% for (let k = 1; k <= 10; k++) { %>
                            <option value="<%= k %>">
                              <%= k %>
                            </option>
                          <% } %>
                        </select>
                      </td>
                      <td class="tab-second">
                        <input class="button" type="submit" value="Modifier">
                      </td>
                    </form>
                      <td class="tab-third">
                        <button data-id="<%= benefit[j].id %>" class="delete"><i class="fa-solid fa-trash-can"></i></button>
                      </td>
                    </tr>
                  <% } %>
                <% } %>
              </tbody>
            </table>
          
        </fieldset>
      </fieldset>
    <% } %>
    
  <section class="admin" id="gallery">
    <h2>Galerie photo</h2>
    <div class="add-picture">
      <h3>Ajout d'une photo</h3>
      <form action="/addpictureingallery" method="post" class="form" enctype="multipart/form-data">
        <div class="sub-form">
        <input class="field picture" type="file" id="newpicture" name="newpicture">
        <select class="field" name="name" id="name">
          <% for(let i=0; i < admin.length; i++) { %>
            <option value="<%=admin[i].name%>">
              <%=admin[i].name%>
            </option>
            <% } %>
        </select>
      </div>
        <input class="button" type="submit" value="Ajout">
      </form>
    </div>
    <h3>Suppression d'une photo</h3>
    <table class="tab js-post-table-picture">
      <thead>
        <tr>
          <th>Image</th>
          <th>Par</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < galerie.length; i++) { %>
        <tr data-id="<%=galerie[i].id%>">
          <td>
            <img src="<%= galerie[i].img %>" alt="Réalisation">
          </td>
          <td>
            <%=galerie[i].name%>
          </td>
          <td><i class="fa-solid fa-trash-can"></i></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </section>
  <section class="admin" id="info">
    <h3>Informations diverses</h3>
    <div class="info-admin">
      <form action="/updateinfos" method="post" class="form">
        <div>
          <label for="updateTel">Numero de telephone : </label>
          <input class="field" type="text" id="updateTel" name="updateTel" value="<%=info[0].telephone %>">
        </div>
        <div>
          <label for="updateFacebookLink">Lien vers la page facebook : </label>
          <input class="field" type="text" id="updateFacebookLink" name="updateFacebookLink"
            value="<%=info[0].fb_link %>">
        </div>
        <div>
          <label for="updateInstragramLink">Lien vers la page instagram : </label>
          <input class="field" type="text" id="updateInstragramLink" name="updateInstragramLink"
            value="<%=info[0].insta_link %>">
        </div>
        <input class="button" type="submit" value="Modifier">
      </form>
    </div>
  </section>
  <section class="admin" id="schedule">
    <h2>Horaires</h2>
      <h3>Modification d'un horaire</h3>
      <table class="tab-schedule js-post-table-schedule">
        <tbody>
          <% for(let i=0; i < schedule.length; i++) { %>
            <form action="/updateschedule" method="post">
            <tr data-id="<%=schedule[i].id%>">
              <td class="tab-main">
                <input type="hidden" id="scheduleId" name="scheduleId" value="<%= schedule[i].id %>">
                <input class="field" type="text" id="scheduleDay" name="scheduleDay" value="<%=schedule[i].day %>">
              </td>
              <td class="tab-main">
                <input class="field" type="text" id="scheduleHour" name="scheduleHour" value="<%=schedule[i].hour %>">
              </td>
              <td class="tab-main"><label for="scheduleOrder">Ordre : <%= schedule[i].pos %>
                <% if (schedule[i].pos == 1) { %><sup>er</sup>
                <% } else { %><sup>ème</sup>
                <% } %>
              </label>
              <select class="field" name="scheduleOrder" id="scheduleOrder">
                <% for (let k = 1; k <= 10; k++) { %>
                  <option value="<%= k %>">
                    <%= k %>
                  </option>
                <% } %>
              </select></td>
              <td class="tab-main"><input class="button" type="submit" value="Modifier"></td>
              <td><button data-id="<%=schedule[i].id%>" class="delete field"><i class="fa-solid fa-trash-can"></i></button></td>
            </tr>
          </form>
            <% } %>
        </tbody>
      </table>
    <div>
      <h3>Ajout un nouvel horaire</h3>
      <form action="/addnewschedule" method="post" class="form">
        <div class="sub-form">
        <input class="field" type="text" id="addDays" name="addDays" placeholder="Ajouter les jours">
        <input class="field" type="text" id="addHours" name="addHours" placeholder="Ajouter les heures">
        </div>
        <div class="sub-form">
        <label for="scheduleOrder">Ordre : </label>
        <select class="field" name="orderSchedule" id="orderSchedule">
          <% for(let i=1; i <=10; i++) { %>
            <option value="<%=[i]%>">
              <%=[i]%>
            </option>
            <% } %>
        </select>
        <input class="button" type="submit" value="Ajouter">
      </div>
      </form>
    </div>
  </section>
</main>
<nav class="admin-nav-top">
  <ul>
    <li><a href="#index"><i class="fa-solid fa-gears"></i>Accueil</a></li>
    <li><a href="#serve"><i class="fa-solid fa-gears"></i>Tarifs</a></li>
    <li><a href="#gallery"><i class="fa-solid fa-gears"></i>Galerie</a></li>      
    <li><a href="#info"><i class="fa-solid fa-gears"></i>informations</a></li>
    <li><a href="#schedule"><i class="fa-solid fa-gears"></i>Horaires</a></li>
  </ul>
</nav>
<nav class="admin-nav-bot">
  <ul>
    <li><a href="#index"><i class="fa-solid fa-gears"></i>Accueil</a></li>
    <li><a href="#serve"><i class="fa-solid fa-gears"></i>Tarifs</a></li>
    <li><a href="#gallery"><i class="fa-solid fa-gears"></i>Galerie</a></li>      
  </ul>
  <ul>
    <li><a href="#info"><i class="fa-solid fa-gears"></i>informations</a></li>
    <li><a href="#schedule"><i class="fa-solid fa-gears"></i>Horaires</a></li>
  </ul>
</nav>